.title {
    color: #643464;
    margin-bottom: -15px;
}

.sectionHead {
    color: #523352;
    margin-bottom: -15px;
}
.jobHead {
    color: #a657a6;
    margin-bottom: -15px;}

.socialIcon {
    fill: #523352;
    margin-bottom: -5px;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(189deg) brightness(101%) contrast(100%);
}

body {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  font-size: 12pt;
  margin: 0.25in;
}