.title {
    color: #643464;
    margin-bottom: -15px;
}

.contact {
    font-size: 10pt;
}

.sectionHead {
    color: #523352;
    margin-bottom: -15px;
    font-size: 16pt;
}

.jobHead {
    color: #9b2e9b;
    margin-bottom: -15px;
}

.socialIcon {
    fill: #523352;
    margin-bottom: -5px;
    margin-top: 10px;
    filter: grayscale(60%), saturate(50%), opacity(25%);
}

body {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  font-size: 12pt;
  margin: 0.25in;
}

body ul {
    list-style-type: circle;
}

body ul li::marker {
  color: #9b2e9b;
}
